<div ui-content-for="title">
  <span>add quiz</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">

    <form role="form">
      <fieldset>
        <legend>我来出题</legend>
        <div class="form-group has-success has-feedback">
          <label>问题</label>
          <input type="text" ng-model="quizCtrl.quiz" class="form-control" placeholder="输入问题">
        </div>

        <div class="form-group has-success has-feedback">
          <label>答案</label>
          <input type="text" ng-model="quizCtrl.answer1" class="form-control" placeholder="输入答案">
          <input type="text" ng-model="quizCtrl.answer2" class="form-control" placeholder="输入答案">
          <input type="text" ng-model="quizCtrl.answer3" class="form-control" placeholder="输入答案">
          <input type="text" ng-model="quizCtrl.answer4" class="form-control" placeholder="输入答案">
        </div>

        <div class="form-group has-success has-feedback">
          <label>正确答案</label>
          <input type="text" ng-model="quizCtrl.rightAnswer" class="form-control" placeholder="输入答案">
        </div>
        <div class="form-group has-success has-feedback">
          <label>标签</label>
          <input type="text" ng-model="quizCtrl.tag" class="form-control" placeholder="输入标签">
        </div>
        <div class="form-group has-success has-feedback">
          <label>分类</label>
          <select ng-model="quizCtrl.category" class="form-control">
            <option value="文学">文学</option>
            <option value="体育">体育</option>
            <option value="科学">科学</option>
            <option value="地理">地理</option>
            <option value="教育">教育</option>
          </select>
        </div>
      </fieldset>
      <hr>

      <button class="btn btn-primary btn-block" ng-click='quizCtrl.save()'>
        提交
      </button>
    </form>
  </div>
</div>