<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>没事来刷题<small>1.0</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
          <h3 class="home-heading">休闲来刷题</h3>
           <button class="btn btn-primary btn-block" ng-click="homeCtrl.beginTest()">
            开始
          </button>

        </div>
      </div>
    </div>
  </div>
</div>