<div ui-content-for="title">
  <span ng-bind="testCtrl.titleContent"></span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">

    <fieldset>
      <div class="transform" id="transform">
        <legend ng-bind="testCtrl.testItem.quiz"></legend>
        <div class="form-group has-success has-feedback">
          <button ng-repeat="item in testCtrl.testItem.answer" ng-click="testCtrl.chooseAnwser(item,testCtrl.testItem,$scope)" class="form-control">
            {{ item }}
          </button>
        </div>
      </div>
    </fieldset>
    <hr>
  </div>
</div>