<div ui-content-for="title">
    <span ng-bind="testCtrl.titleContent"></span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">

        <fieldset>
            <div class="" id="transform">
                <legend ng-bind="testCtrl.testItem.quiz"></legend>
                <label>连击次数：{{testCtrl.combo}}</label>
                <div class="form-group has-success has-feedback repeat-animation hide-fade" ng-repeat="item in testCtrl.testItem.answer">
                    <button ng-click="testCtrl.chooseAnwser(item,testCtrl.testItem,$scope)" class="form-control">
                        {{ item }}
                    </button>
                </div>
                <div class="repeat-animation">

                    <p>
                        <label>总次数：{{testCtrl.testItem.quiz_count}}</label>
                    </p>
                    <p>
                        <label>回答正确：{{testCtrl.testItem.right_count}}</label>
                    </p>
                    <p>
                        <label>难度级别：{{testCtrl.testItem.rank}}</label>
                    </p>
                </div>
            </div>
        </fieldset>
        <hr>
    </div>
</div>